<form
  class="form-signin"
  [ngClass]="{ 'was-validated': loginForm.invalid }"
  novalidate
  [formGroup]="loginForm"
  (ngSubmit)="login()"
>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input
    type="email"
    id="inputEmail"
    class="form-control"
    placeholder="Email address"
    formControlName="email"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    formControlName="password"
    required
  />

  <ng-container
    *ngIf="
      (f.email?.dirty || f.email?.touched) && f.email?.invalid && f.email.errors
    "
  >
    <div class="invalid-feedback" *ngIf="f.email?.errors?.required">
      Email is required.
    </div>
    <div class="invalid-feedback" *ngIf="f.email?.errors?.pattern">
      Email must be a valid email address
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      (f.password?.dirty || f.password?.touched) &&
      f.password?.invalid &&
      f.password.errors
    "
  >
    <div class="invalid-feedback" *ngIf="f.password?.errors?.required">
      Password is required.
    </div>
    <div class="invalid-feedback" *ngIf="f.password?.errors?.minlength">
      Password must be at least 5 characters length.
    </div>
  </ng-container>

  <button
    class="btn btn-lg btn-primary btn-block mt-4"
    type="submit"
    [disabled]="isSubmitting || loginForm.invalid"
  >
    Sign in
  </button>
  <div class="checkbox mt-3">
    <label>
      Don't have an account yet? <a routerLink="/register">Register</a>.
    </label>
  </div>
</form>
