app-main-header {
  /*
 * Navbar
 */
  .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  }
  .navbar {
    .form-control {
      padding: 0.75rem 1rem;
      border-width: 0;
      border-radius: 0;
      &.form-control-dark {
        color: var(--color-white);
        background-color: var(--color-form-control-dark);
        border-color: var(--color-form-control-dark);
        &:focus {
          border-color: transparent;
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
        }
      }
    }
  }

  .logout {
    cursor: pointer;
  }
}
