<app-page-toolbar title="Article Entry" [showBackButton]="true">
</app-page-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <div class="card p-2">
        <button
          type="submit"
          class="btn btn-primary mb-1"
          (click)="saveArticle()"
        >
          Save
        </button>
        <button type="submit" class="btn btn-info" (click)="publishArticle()" [disabled]="!showPublish">
          Publish
        </button>
      </div>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Article Entry</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder=""
              [(ngModel)]="title"
              required
            />
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row">
          <div class="col-md-12 mb-3">
            <angular-editor
              [placeholder]="'Enter text here...'"
              [(ngModel)]="htmlContent"
              [ngModelOptions]="{ standalone: true }"
            ></angular-editor>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
