<form
  class="form-signin"
  [ngClass]="{ 'was-validated': registerForm.invalid }"
  [formGroup]="registerForm"
  (ngSubmit)="register()"
>
  <h1 class="h3 mb-3 font-weight-normal text-center">Register Account</h1>
  <div class="form-group">
    <label for="inputFirstName">First Name</label>
    <input
      type="text"
      id="inputFirstName"
      class="form-control"
      placeholder="First Name"
      formControlName="firstName"
      required
      autofocus
    />
    <ng-container
      *ngIf="
        (f.firstName?.dirty || f.firstName?.touched) &&
        f.firstName?.invalid &&
        f.firstName.errors
      "
    >
      <div class="invalid-feedback" *ngIf="f.firstName?.errors?.required">
        First Name is required.
      </div>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="inputLastName">Last Name</label>
    <input
      type="text"
      id="inputLastName"
      class="form-control"
      placeholder="Email address"
      formControlName="lastName"
      required
    />
    <ng-container
      *ngIf="
        (f.lastName?.dirty || f.lastName?.touched) &&
        f.lastName?.invalid &&
        f.lastName.errors
      "
    >
      <div class="invalid-feedback" *ngIf="f.lastName?.errors?.required">
        Last Name is required.
      </div>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
    />
    <div
      *ngIf="
        (f.email?.dirty || f.email?.touched) &&
        f.email?.invalid &&
        f.email.errors
      "
    >
      <div class="invalid-feedback" *ngIf="f.email?.errors?.required">
        Email is required.
      </div>
      <div class="invalid-feedback" *ngIf="f.email?.errors?.pattern">
        Email must be a valid email address
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
    />
    <div
      *ngIf="
        (f.password?.dirty || f.password?.touched) &&
        f.password?.invalid &&
        f.password.errors
      "
    >
      <div class="invalid-feedback" *ngIf="f.password?.errors?.required">
        Password is required.
      </div>
      <div class="invalid-feedback" *ngIf="f.password?.errors?.minlength">
        Password must be at least 5 characters length.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword">Confirm Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Confirm Password"
      required
    />
    <div
      *ngIf="
        (f.confirmPassword?.dirty || f.confirmPassword?.touched) &&
        f.confirmPassword?.invalid &&
        f.confirmPassword.errors
      "
    >
      <div class="invalid-feedback" *ngIf="f.confirmPassword?.errors?.required">
        Confirm Password is required.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="f.confirmPassword?.errors?.minlength"
      >
        Confirm Password must be at least 5 characters length.
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Register
  </button>

  <div class="checkbox mt-3">
    <label> Already have an account? <a routerLink="/login">Login</a>. </label>
  </div>
</form>
