<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>{{ title }}</span>
    <a class="d-flex align-items-center text-muted" href="#">
        <span class="fa fa-{{ icon }}" *ngIf="icon !== null"></span>
    </a>
</h6>