/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    display: flex;
    // align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--app-background-color);
}

.mat-error {
    
}