app-dashboard-sidebar {
    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        .nav-link {
            font-weight: 500;
            color: #333;
            .feather {
                margin-right: 4px;
                color: #999;
            }
            &.active {
                color: #007bff;
                .feather {
                    color: inherit;
                }
            }
            &:hover .feather {
                color: inherit;
            }
        }
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
        }
    }
    .sidebar-heading {
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}