<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <app-nav-item title="Dashboard" icon="home" [active]="true" [link]="'/main/dashboard'"></app-nav-item>
        <app-nav-item title="Articles" icon="file" [link]="'/main/articles'"></app-nav-item>
    </ul>
    <!-- <app-dashboard-sidebar-heading icon="plus-circle" title="Saved reports"></app-dashboard-sidebar-heading>
    <ul class="nav flex-column mb-2">
        <app-nav-item title="Current month" icon="file-text"></app-nav-item>
        <app-nav-item title="Last quarter" icon="file-text"></app-nav-item>
        <app-nav-item title="Social engagement" icon="file-text"></app-nav-item>
        <app-nav-item title="Year-end sale" icon="file-text"></app-nav-item>
    </ul> -->
</div>