<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-link" (click)="onGoingBack($event)" *ngIf="showBackButton">
      <span class="fa fa-chevron-left"></span>
      Back
    </button>
        <h1 class="h2">{{ title }}</h1>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-primary" (click)="onNewEvent.emit($event)" *ngIf="showAddButton">
      <span class="fa fa-plus"></span>
      New Article
    </button>
        <button class="btn btn-sm btn-primary ml-1" (click)="onRefreshEvent.emit($event)" *ngIf="showRefreshButton">
      <span class="fa fa-refresh"></span>
      Refresh
    </button>
    </div>
</div>