<app-page-toolbar
  title="Articles"
  (onNewEvent)="onNewArticle()"
  (onRefreshEvent)="onRefreshArticles()"
  [showRefreshButton]="true"
  [showAddButton]="true"
>
</app-page-toolbar>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Action</th>
        <th>#</th>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of articlesArr">
        <td>
          <button
            class="btn btn-sm btn-primary mr-1"
            (click)="onUpdateArticle(item)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            class="btn btn-sm btn-danger mr-1"
            (click)="onDeleteArticle(item)"
          >
            <i class="fa fa-trash"></i>
          </button>
          <button
            class="btn btn-sm btn-info"
            (click)="onPublishArticle(item)"
          >
            <i class="fa fa-upload"></i>
          </button>
        </td>
        <td>
          {{ item.id }}
        </td>
        <td>{{ item.title }}</td>
        <td>{{ item.created | date: 'short' }}</td>
        <td>{{ item.updated | date: 'short' }}</td>
        <td>{{ item.publishDate | date: 'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>
